.report {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // gap: 24px;

  border: 2px solid $color_add1;
  border-radius: 8px;
  
  padding: 8px;

  // background-color: red;
  &__title {
    margin-bottom: 16px;
    font-size: 80px;
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 16px;
    width: 250px;
  }
  &__parameter {
    font-size: 24px;
    letter-spacing: 1px;
    color: $color_add1;
  }
  &__value {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    // color: $color_add1;
  }
}